backend/docs/n8n-erp-daily-backup.workflow.json
{
  "name": "ERP Daily Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 0,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/exports/daily-run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.ERP_DAILY_BACKUP_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"incremental\": true\n}",
        "options": {}
      },
      "id": "erp-daily-run",
      "name": "ERP Daily Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-success",
      "name": "IF Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 0]
    },
    {
      "parameters": {
        "jsCode": "return $json.modules.map((module) => ({ json: module }));"
      },
      "id": "loop-modules",
      "name": "Loop Modulos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, -120]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.rows}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-has-rows",
      "name": "IF Rows > 0",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [960, -120]
    },
    {
      "parameters": {
        "jsCode": "const buffer = Buffer.from($json.content_base64, 'base64');\nconst binaryData = await this.helpers.prepareBinaryData(buffer, $json.filename, $json.mime_type || 'text/csv');\nreturn [{ json: $json, binary: { data: binaryData } }];"
      },
      "id": "csv-base64-to-binary",
      "name": "CSV Base64 to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, -220]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{$json.filename}}",
        "parents": [
          "={{$json.drive_folder}}"
        ],
        "binaryData": true,
        "binaryPropertyName": "data"
      },
      "id": "google-drive-upload",
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1440, -220],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/automations/drive-uploads/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.ERP_DAILY_BACKUP_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"module\": \"{{$json.module}}\",\n  \"filename\": \"{{$json.filename}}\",\n  \"rows_count\": {{$json.rows}},\n  \"incremental\": true,\n  \"status\": \"SUCCESS\",\n  \"drive_file_id\": \"{{$node['Google Drive Upload'].json.id}}\",\n  \"message\": \"Subido a Google Drive\"\n}",
        "options": {}
      },
      "id": "log-success",
      "name": "Log SUCCESS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, -220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/automations/drive-uploads/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.ERP_DAILY_BACKUP_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"module\": \"{{$json.module}}\",\n  \"filename\": \"{{$json.filename}}\",\n  \"rows_count\": 0,\n  \"incremental\": true,\n  \"status\": \"EMPTY\",\n  \"message\": \"Sin cambios nuevos; no se subio CSV vacio\"\n}",
        "options": {}
      },
      "id": "log-empty",
      "name": "Log EMPTY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "ERP Daily Run", "type": "main", "index": 0 }]]
    },
    "ERP Daily Run": {
      "main": [[{ "node": "IF Success", "type": "main", "index": 0 }]]
    },
    "IF Success": {
      "main": [
        [{ "node": "Loop Modulos", "type": "main", "index": 0 }],
        []
      ]
    },
    "Loop Modulos": {
      "main": [[{ "node": "IF Rows > 0", "type": "main", "index": 0 }]]
    },
    "IF Rows > 0": {
      "main": [
        [{ "node": "CSV Base64 to Binary", "type": "main", "index": 0 }],
        [{ "node": "Log EMPTY", "type": "main", "index": 0 }]
      ]
    },
    "CSV Base64 to Binary": {
      "main": [[{ "node": "Google Drive Upload", "type": "main", "index": 0 }]]
    },
    "Google Drive Upload": {
      "main": [[{ "node": "Log SUCCESS", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
